mixin image(src, alt, ext = 'jpg')
  - const image = `assets/images/${src}`
  img(src=`${image}.${ext}`, alt=alt || '')&attributes(attributes)

mixin image-dpr(src, alt, ext = 'jpg')
  - const image = `assets/images/${src}`
  +image(src, alt, ext)(srcset=`${image}.${ext}, ${image}@2x.${ext} 2x`)&attributes(attributes)

mixin image-jpg(src, alt)
  +b.image&attributes(attributes)
    +image-dpr(src, alt, 'jpg')

mixin image-png(src, alt)
  +b.image&attributes(attributes)
    +image-dpr(src, alt, 'png')

mixin image-webp(src, alt)
  +b.image&attributes(attributes)
    +image-dpr(src, alt, 'webp')

mixin image-svg(src, alt, style)
  +b.image&attributes(attributes)
    +image(src, alt, 'svg')
